

body {
	height: 270px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* Utility styles  */

.impression-tracker { display: none;}
  
.hidden {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
  
.ad-link { text-decoration: none; }

a:link, a:visited, a:focus {
	color: #fff;
	text-decoration: none;
	min-height: 1px;
}
  
.gradient {
	position: absolute;
	left: 0;
	background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(255,255,255,0) 60%);
	width: 100%;
	height: 100%;
	z-index: 2;
}

#vid-tracker { display:none; }

p { margin: 0; }

/* fonts  */
  
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

@font-face {
	font-family: "[%FontFamilyName%]";
	src: url([%FontURL%]) format("[%FontFormat%]");
}

@font-face {
	font-family: "[%SecondFontFamilyName%]";
	src: url([%SecondFontURL%]) format("[%SecondFontFormat%]");
}


.container {
	max-width: 1605px;
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.container .flex-frame {
	position: relative;
	width: 100%;
	height: 270px!important;
	box-sizing: border-box;
	background-size: cover;
	background-position: right;
	border: 1px solid #cccccc;
	box-sizing: border-box;

	/* background-color: [%BackgroundColor%];
	color: [%FontColor%]; */
}

.container .flex-frame .media-container {
	position: relative;
	float: left;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.container .flex-frame .media-container .video-style {
	width: 480px;
	height: 270px;
}

.container .flex-frame .non-media .content-container {
	position: relative;
	float: left;
	z-index: 3;
	width:calc(100% - 490px);
	height: 100%;
	/* padding-right: 10px; */
	/* background: url('[%OptionalImageSecondContainer%]'); */
	background-size: cover;
	background-position: center; 
	box-sizing: border-box;
}

.container .flex-frame .non-media .content-container .content-well {
	width: 100%;
	height:100%;
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	background-color: black;
	box-sizing: border-box;
}

.container .flex-frame .non-media .content-container .content-well .logo {
	padding:25px 0 0 25px;
	margin-bottom: 20px;
}
  
.container .flex-frame .non-media .content-container .content-well .logo img {
	display: block;
	text-align: left;
	max-width: 150px;
	max-height: 40px;
  
	/* max-width: [%LogoMaxWidth%];
	max-height: [%LogoMaxHeight%]; */
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well {
	display:block;
	flex-direction: column;
	margin-right: auto;
	margin-left: 25px;
	text-align:left;
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well .title {
	font-size: 27px;
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 485px;
	font-weight: 600;
	margin-bottom: 5px;
	line-height: 1;
	/* margin-bottom: 1px; */
	/* color: [%FontColor%]; */
}


  
.container .flex-frame .non-media .content-container .content-well .content-middle-well .summary {
	font-size: 18px;
	max-width: 280px;
	margin-bottom: 12px;
	/* color: [%FontColor%]; */
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well .cta {
	pointer-events: all;
	flex: none;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-align: center;
	display: inline-block;
	margin-bottom: 25px;
	border: 1px solid white;
  
	/* background-color: [%CTABackgroundColor%];
	color: [%FontColor%];
	border: 1px solid [%FontColor%]; */
}
  
  
.container .flex-frame .non-media .content-container .content-well .content-middle-well .disclaimer {
	display:none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 8px;
	margin-bottom: 11px;
}

.container .flex-frame .non-media .img-container {
	/* display: none; */
	width: calc(100% - 995px);
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}

.container .flex-frame .non-media .img-container img {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
}
  

.video-cover {
	pointer-events: none;
	background-image: url('');
	background-size: cover;
	background-position: top center;
	position: absolute;
	z-index: 1;
	width: 100%;
	margin: auto;
	bottom: 0;
	top: 0;
}







@media screen and (min-width: 1250px) {
  .content-container {
    max-width: 515px;
  }

  .img-container {
    display: block;
  }
}





/* This controls font color on tablet view */ 

@media screen and (max-width: 960px) {

.cta{
   color:[%FontColorTablet%];
   border: 1px solid [%FontColorTablet%];
}
 
.title {
  color:[%FontColorTablet%];  

}

.summary{
color:[%FontColorTablet%];
 }


#content-container{
  width:50%;
}

.fle-frame{
  width:50%;
}
  
  

}   


 



  body {
    text-align: center; 
    color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
  }



/* media query for mobile by mistake  */

@media (max-width: 727px) {
	body { 
		display: none;
	}
	
}

/* media query for tablet portrait mode  */

@media all and (min-width: 728px) and (max-width: 970px) {
	.container .flex-frame .non-media .img-container {
		display: none;
	}
}

/* media query for tablet landscape mode */


@media all and (min-width: 971px) and (max-width: 1280px) {
	.container .flex-frame .non-media .img-container {
		display: none;
	}
}

/* media query for small desktop / laptop mode */

@media all and (min-width: 1281px) {

	
}


[%CustomCSS%]


