
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

:root {
	--main-bg-color: black;
	--font-color: white;
	--default-font: 'Source Sans Pro';
	--bold-font: 700:
	--medium-font: 600;
	--regular-font: 400;
	--max-width: 1605px;
	--min-width: 728px;
	--max-height: 380px;
	--min-height: 270px;
	--logo-max-width: 150px;
	--logo-max-height: 45px;
}

body {
	height: 270px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

/* Utility styles  */

@keyframes fadeIn {0% { opacity:0;} 100% {opacity:1;}}
@-moz-keyframes fadeIn {0% { opacity:0;} 100% {opacity:1;}}
@-webkit-keyframes fadeIn {0% { opacity:0;} 100% {opacity:1;}}
@-o-keyframes fadeIn {0% { opacity:0;} 100% {opacity:1;}}
@-ms-keyframes fadeIn {0% { opacity:0;} 100% {opacity:1;}}

.poster-frame {
	animation: fadeIn ease 1.5s;
	-webkit-animation: fadeIn ease 1.5s;
	-moz-animation: fadeIn ease 1.5s;
	-o-animation: fadeIn ease 1.5s;
	-ms-animation: fadeIn ease 1.5s;
}
  
  
.impression-tracker { display: none;}
    
.ad-link { text-decoration: none; }

a:link, a:visited, a:focus {
	color: #fff;
	text-decoration: none;
	min-height: 1px;
}
  
.gradient {
	position: absolute;
	left: 0;
	background-image:linear-gradient(to top, rgba(0,0,0,0.6), rgba(255,255,255,0) 60%);
	width: 100%;
	height: 100%;
	z-index: 2;
}

#vid-tracker { display:none; }

p { margin: 0; }

/* fonts  */
  
/* @font-face {
	font-family: "[%FontFamilyName%]";
	src: url([%FontURL%]) format("[%FontFormat%]");
}

@font-face {
	font-family: "[%SecondFontFamilyName%]";
	src: url([%SecondFontURL%]) format("[%SecondFontFormat%]");
} */


.container {
	position: relative;
	max-width: var(--max-width);
	min-width: var(--min-width);
	max-height: var(--max-height);
	min-height: var(--min-height);
	margin: 0 auto;
	font-family: var(--default-font);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	width: 100%;
}

.container .flex-frame {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-size: cover;
	background-position: right;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	background-color: var(--main-bg-color, black);
	display: flex;
}

.container .flex-frame .media-container {
	position: relative;
	width: 480px;
	height: 100%;
	overflow: hidden;
}

.container .flex-frame .media-container .video-style {
	width: 480px;
	height: 270px;
}

.container .flex-frame .non-media {
	width: calc(100% - 480px);
	height: 100%;
	display: flex;
}

.container .flex-frame .non-media .content-container {
	position: relative;
	z-index: 3;
	width: 50%;
	height: 100%;
	/* padding-right: 10px; */
	/* background: url('[%OptionalImageSecondContainer%]'); */
	background-size: cover;
	background-position: center; 
	box-sizing: border-box;
}

.container .flex-frame .non-media .content-container .content-well {
	width: 100%;
	height:100%;
	display:flex;
	justify-content: space-between;
	flex-direction: column;
	box-sizing: border-box;
}

.container .flex-frame .non-media .content-container .content-well .logo {
	padding:25px 0 0 25px;
	margin-bottom: 20px;
}
  
.container .flex-frame .non-media .content-container .content-well .logo img {
	display: block;
	text-align: left;
	max-width: var(--logo-max-width, 150px);
	max-height: var(--logo-max-height,45px);
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well {
	display:block;
	flex-direction: column;
	margin-right: auto;
	margin-left: 25px;
	text-align:left;
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well .title {
	font-size: 27px;
	font-family: var(--default-font, Arial, Helvetica, sans-serif);
	font-weight: var(--medium-font);
	max-width: 485px;
	margin-bottom: 5px;
	line-height: 1;
	color: var(--font-color,white);
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well .summary {
	font-size: 18px;
	font-family: var(--default-font, Arial, Helvetica, sans-serif);
	font-weight: var(--regular-font);
	max-width: 280px;
	margin-bottom: 12px;
	color: var(--font-color,white);
}

.container .flex-frame .non-media .content-container .content-well .content-middle-well .cta {
	pointer-events: all;
	flex: none;
	cursor: pointer;
	font-size: 14px;
	padding: 10px 15px;
	text-transform: uppercase;
	font-family: var(--default-font, Arial, Helvetica, sans-serif);
	font-weight: var(--medium-font);
	text-align: center;
	display: inline-block;
	margin-bottom: 25px;
	border: 1px solid var(--font-color,white);
	color: var(--font-color,white);
  
	/* background-color: [%CTABackgroundColor%]; */
}
  
  
.container .flex-frame .non-media .content-container .content-well .content-middle-well .disclaimer {
	display:none;
	font-family: var(--default-font, Arial, Helvetica, sans-serif);
	font-weight: var(--regular-font);
	font-size: 8px;
	margin-bottom: 11px;
}

.container .flex-frame .non-media .img-container {
	width: 56%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.container .flex-frame .non-media .img-container img {
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
}
  

/* media query for mobile by mistake  */

@media (max-width: 727px) {
	body { 
		display: none;
	}
	
}

/* media query for tablet portrait mode  */

@media all and (min-width: 728px) and (max-width: 970px) {

	.container {
		height: 270px;
	}

	.container .flex-frame .non-media .img-container {
		display: none;
	}

	.container .flex-frame .non-media .content-container {
		width: 100%;
	}

	.container .flex-frame .non-media .content-container .content-well .content-middle-well .title {
		font-size: 22px;
	}

	.container .flex-frame .non-media .content-container .content-well .content-middle-well .summary {
		font-size: 14px;
	}

	.container .flex-frame .non-media .content-container .content-well .content-middle-well .cta {
		font-size: 12px;
		padding: 8px 12px;
	}
}

/* media query for tablet landscape mode */


@media all and (min-width: 971px) and (max-width: 1280px) {

	.container {
		height: 270px;
	}

	.container .flex-frame .non-media .img-container {
		display: none;
	}

	.container .flex-frame .non-media .content-container {
		width: 100%;
	}
}

/* media query for small desktop / laptop mode */

@media all and (min-width: 1281px) {

	.container {
		height: 270px;
	}
	.content-container {
		max-width: 515px;
		min-width: 515px;
	  }
	
	  .img-container {
		display: block;
	  }
}


[%CustomCSS%]


